In [94]:
import numpy as np
import pandas as pd

In [95]:
pd.options.display.max_rows = 10

In [96]:
unames=['user_id','gender','age','occupation','zip']
users = pd.read_table('datasets/movielens/users.dat', sep='::', header=None, names=unames)
mnames=['movie_id', 'title', 'genres']
movies = pd.read_table('datasets/movielens/movies.dat', sep='::', header=None, names=mnames)
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('datasets/movielens/ratings.dat', sep='::',header=None, names=rnames)

C:\Users\ShiHanxu\anaconda3\lib\site-packages\pandas\io\parsers.py:765: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return read_csv(**locals())

In [97]:
ratings

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [98]:
data = ratings.merge(users, left_on='user_id', right_on='user_id')
data = data.merge(movies, left_on='movie_id', right_on='movie_id')
data

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000204,5949,2198,5,958846401,M,18,17,47901,Modulations (1998),Documentary
1000205,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),Drama
1000206,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),Drama
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)",Documentary

In [99]:
grouped = data[['title','gender','rating']].groupby(['title','gender'])

In [109]:
i=0;
for a,b in grouped:
    print(a)
    print(b)
    i+=1;
    if (i==2):
        break

('$1,000,000 Duck (1971)', 'F')
                         title gender  rating
985680  $1,000,000 Duck (1971)      F       5
985683  $1,000,000 Duck (1971)      F       3
985684  $1,000,000 Duck (1971)      F       5
985685  $1,000,000 Duck (1971)      F       4
985688  $1,000,000 Duck (1971)      F       5
...                        ...    ...     ...
985708  $1,000,000 Duck (1971)      F       3
985710  $1,000,000 Duck (1971)      F       4
985712  $1,000,000 Duck (1971)      F       3
985713  $1,000,000 Duck (1971)      F       2
985714  $1,000,000 Duck (1971)      F       3

[16 rows x 3 columns]
('$1,000,000 Duck (1971)', 'M')
                         title gender  rating
985679  $1,000,000 Duck (1971)      M       2
985681  $1,000,000 Duck (1971)      M       4
985682  $1,000,000 Duck (1971)      M       1
985686  $1,000,000 Duck (1971)      M       3
985687  $1,000,000 Duck (1971)      M       2
...                        ...    ...     ...
985705  $1,000,000 Duck (1971)      M       3
985707  $1,000,000 Duck (1971)      M       3
985709  $1,000,000 Duck (1971)      M       4
985711  $1,000,000 Duck (1971)      M       1
985715  $1,000,000 Duck (1971)      M       2

[21 rows x 3 columns]

In [110]:
def average(group):
    return group['rating'].mean()

In [111]:
mean_rating = grouped.apply(average).unstack()
mean_rating

gender                                             F         M
title
$1,000,000 Duck (1971)                      3.375000  2.761905
'Night Mother (1986)                        3.388889  3.352941
'Til There Was You (1997)                   2.675676  2.733333
'burbs, The (1989)                          2.793478  2.962085
...And Justice for All (1979)               3.828571  3.689024
...                                              ...       ...
Zed & Two Noughts, A (1985)                 3.500000  3.380952
Zero Effect (1998)                          3.864407  3.723140
Zero Kelvin (Kjå¿™rlighetens kjé…¶tere) (1995)       NaN  3.500000
Zeus and Roxanne (1997)                     2.777778  2.357143
eXistenZ (1999)                             3.098592  3.289086

[3706 rows x 2 columns]

In [112]:
title_size = data.groupby('title').size()
above_250 = title_size.index[title_size>=250]
above_250

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='title', length=1216)

In [113]:
mean_rating = mean_rating.loc[above_250].sort_values(by='F',ascending=False)

In [114]:
mean_rating[:10]

gender                                                     F         M
title
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415
Shawshank Redemption, The (1994)                    4.539075  4.560625
Grand Day Out, A (1992)                             4.537879  4.293255
To Kill a Mockingbird (1962)                        4.536667  4.372611
Creature Comforts (1990)                            4.513889  4.272277
Usual Suspects, The (1995)                          4.513317  4.518248

In [115]:
mean_rating['diff'] = mean_rating['M'] - mean_rating['F']

In [116]:
mean_rating.sort_values(by='diff')[:10]

gender                                        F         M      diff
title
Dirty Dancing (1987)                   3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)              3.254717  2.578358 -0.676359
Grease (1978)                          3.975265  3.367041 -0.608224
Little Women (1994)                    3.870588  3.321739 -0.548849
Steel Magnolias (1989)                 3.901734  3.365957 -0.535777
Anastasia (1997)                       3.800000  3.281609 -0.518391
Rocky Horror Picture Show, The (1975)  3.673016  3.160131 -0.512885
Color Purple, The (1985)               4.158192  3.659341 -0.498851
Age of Innocence, The (1993)           3.827068  3.339506 -0.487561
Free Willy (1993)                      2.921348  2.438776 -0.482573